* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }


body {
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(-320deg, #051937, #613761, #b75c6e, #f1986a, #ffe87a);
    /* background-image: linear-gradient(320deg, #ffffff, #f4f3fc, #e7e8fa, #d8def7, #c8d4f5, #bbd4fa, #aad4fd, #97d5ff, #82dfff, #6de9ff, #5ef3fd, #5ffbf1); */
    background-size: 360%;
    animation: bodyBG  5.5s ease-in-out infinite;
}

 @keyframes bodyBG {
    0%, 100% {
      background-position: top right;
    }
    50% {
      background-position: top left;
    }
  } 

/* flag */

#flag-counter {
    
    display: flex;
    margin-top: 150px;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: row wrap;
    flex-flow: row wrap;
    place-content: center;
    padding: 15px 10px;
    background: #43475a;
}

#flag-counter li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
}

.flag-meter {
    color: rgba(255, 255, 255, 0.308);
    font-size: 1rem;
}

.country-image {
    margin-right: 10px;
    width: 100%;
    height: 20px;
    max-width: 20px;
    object-fit: cover;
}

.country-image img {
    width: 25px;
    height: 15px;
}
.cover-photo {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
    
    
}

.cover-photo img {
    width: 200px;
}


/* .logo {
    position: relative;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.logo::after {
    display: flex;
    align-items: flex-end;
    content: "Bloodline";
    color: rgb(236, 42, 68);
    font-size: 2rem;
    font-family: 'Courgette';
}

.logo img{
    width: 70px;
} */

.myContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.dashboard-title {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100px;
    background: rgb(72, 184, 169);
    justify-content: center;
}

.image-wrapper {
    width: 80px;
    height: 80px;
    /* border: 2px solid; */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 2px;
}

.image-wrapper i {
    font-size: 4rem;
    color: black
}

.title-wrapper {
    align-self: center;
    display: flex;
    align-items: center;
}


.dashboard-title .title-wrapper span {
    color:white;
    font-size: 1.1rem;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1.5px;
}

.dashboard-title img {
    width: auto;
    height: 100%;
}

.data-ul ul {
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.data-ul li {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 50px;
    height: 60px;
    list-style-type: none;
    cursor: pointer;
    width: 100%;
}

.data-ul li:hover {
    background: rgba(255, 255, 255, 0.068);
    
}

.data-ul li:hover > i, .sidebar li:hover > span{
    color: white;
    /* background: black; */
}


.data-ul li span {
    color: rgba(255, 255, 255, 0.699);
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .8px;
    transition: all .3s ease;
}


.data-ul li i {
    color: rgb(255, 255, 255, 0.699);
    font-size: 1.5rem;
    width: 25%;
    display: inline-block;
    transition: all .2s ease;
    cursor: pointer;
}

.main {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    height: 100vh;
}

.locationText {
    margin-bottom: 30px !important;
}

.add-user-form {
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5.5px);
    -webkit-backbackdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.144);
    box-shadow: 0 0 6px 1px rgba(63, 63, 63, 0.144);
    padding: 50px 30px;
    margin: 0 10px;
    width: 100%;
    height: 420px;
    max-width: 580px;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(63, 63, 63, 0.151);
    /* margin-bottom: 50px; */
}

.add-user-form input.form-control:focus {
    background:transparent;
    outline: none;
    /* box-shadow: 0 0 0 0 rgba(62, 177, 243, 0.671); */
    color: rgb(0, 0, 0);
    box-shadow: none;
    border-bottom: solid 1px #3abec773;
 

}



.submit-btn {
    padding: 18px 5px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background-image: linear-gradient(320deg, #23bba7cc 5%, #0e6ac0cc 25%, #14c5c5 60%) !important;
    background-size: 600%;
    background-position: top;
    border: 1px solid rgba(255, 255, 255, 0.377) !important;
    border-radius: 12px;
    outline: none;
    transition: all .5s ease;
}

.submit-btn:hover, .submit-btn:focus, .submit-btn:active {
    background-position: top right;
}

.add-user-form input {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    padding: 5px 5px 0 0;
    margin-bottom: 30px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-bottom: solid 1px #efefefd2;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
.form-text {
    margin-top: -20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.location::placeholder, .username::placeholder, .lastname::placeholder {
    color: rgba(255, 255, 255, 0.87);
    font-weight: 100;
    font-family: "Open Sans";
}

.labelDiv {
    position: relative;
}

.label-location{
    font-size: 18px;
    font-weight: 500;
    color: rgb(90, 90, 90)
}

/* .location {
    margin-top: 10px;
} */


.label-name:active {
    display: none;
}

.hide-form {
    display: none;
}

.table-hidden {
    display: none;
}

table {
    /* margin-top: 20px; */
    border-collapse: collapse;
    border-spacing: 0;
    padding-bottom: 0;
    width: 100%;
    /* max-width: 600px; */
    background: rgb(255, 255, 255);
    box-shadow: 0 0 4px 1px rgba(63, 63, 63, 0.342);
    table-layout: fixed;
    animation: tableAnimate 1s ease forwards;
}


@keyframes tableAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


table th {
    padding: 6px;
    font-size: 1.1rem;
    font-family: "Poppins";
    letter-spacing: 0.5px;
    font-weight: 100;
    color: rgb(255, 254, 254);
    text-align: center;
    background: #3A8C87;
    /* border: 2px solid rgba(255, 255, 255, 0.849); */
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
   
}


table tr {
    border-bottom: 1px solid rgba(41, 41, 41, 0.13);
    margin-bottom: 10px;
    display: table-row;
    transition: all .3s ease;
}

table tr:hover {
    background: rgba(111, 149, 192, 0.671);
    color: rgb(255, 255, 255);
}

table td {
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 1rem;
    font-family: 'Poppins';  
}


table td div {
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
  }
  
table td div:hover {
   color: rgb(255, 255, 255);
  }

td.location-cell {  
    letter-spacing: 0.8px;
    color: rgb(32, 32, 32);
}

td.names-cell div {
    color: rgb(32, 32, 32);
}


.ulData {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .pagination {
    background: rgba(106, 140, 163, 0.712);
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.pagination a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.534);
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    margin: 0 5px !important;
    transition: all .3s ease;
}

.pagination a:hover {
    color: rgb(255, 255, 255);
} */

.ulData li {
    list-style-type: none;
}

.hide-ulData {
    display: none;
}


.top-nav {
    max-width: 100%;
    height: 100px;
    background: rgb(255, 255, 255)
}


.main-data {
    position: relative;
    top: 0;
    /* transform: translateY(-50%); */
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0;
    width: 100%;
    height: 70vh;
}

.data-ul {
    position: relative;
    display: none;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    max-width: 100%;
    background: rgb(13, 13, 15);
}


/* PROFILE */

.profile {
    /* flex-grow: 1; */
    backdrop-filter: blur(5.5px);
    -webkit-backbackdrop-filter: blur(5.5px);
    padding: 40px 0;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.39);
    max-width: 410px;
    background:rgba(255, 255, 255, 0.075);
    position: relative;
    bottom: 50px;
    box-shadow: 0 0 4px 2px rgba(49, 49, 49, 0.123);
    border-radius: 8px;

}

.profile h4 {
    color: rgb(53, 53, 53);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: -1px;
    font-weight: 100;
}

.hide-profile {
    display: none;
}

/* .main-data-display {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
} */

.profile-ul {
    margin-top: 30px;
    padding: 0 10px;
}

.profile li {
    width: 250px;
    text-align: center;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 15px 12px;
    border-radius: 8px;
    margin-bottom: 25px;
    background-image: linear-gradient(320deg, #23bba7cc 5%, #0e6ac0cc 40%, #14c5c5 60%) !important;
    background-size: 600%;
    background-position: top;
    border: 1px solid rgba(255, 255, 255, 0.377);
    cursor: pointer;
    transition: all 1s ease;

}
.view-bloodline a {
    text-decoration: none;
    color: white;   
}

.counter {
    /* visibility: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: counterAnimate 1.8s ease forwards;
}

.totalDiv {
    position: relative;
    width: 72px;
    height: 70px;
    border-radius: 50%;
    background: #e91857;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.212);
    animation: totalDivAnimate 1s linear forwards;
}

.totalDiv:after {
    content: '';
  position: absolute;
  top: 65px;
  left: 40%;
  transform: translateX(-40%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 16px solid #e91857;
}

@keyframes totalDivAnimate {
    0% {
        top: -100px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}


.counter p {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    /* letter-spacing: 5px !important; */
    /* text-align: center; */
    font-size: 2rem;
    font-weight: bold;
}

@keyframes counterAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.profile li:hover, .profile li:focus, .profile li:active {
    background-position: top right;
    
}

.bloodline-data {
    padding: 0 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    /* left: 50%; */
    /* bottom: 10%; */
    /* transform: translateX(-50%); */
    /* flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: row wrap;
    flex-flow: row wrap; */
    width: 100%;
    /* height: 0px; */
    /* background: rgb(238, 238, 238); */
    /* box-shadow: 0 0 5px 1px rgba(63, 63, 63, 0.658); */
    border-radius: 2px;
    overflow: hidden;
}

/* .bloodline-child {
    background: rgba(255, 185, 56, 0.747);
    box-sizing: border-box;
    width: 150px;
    height: 80px;
    margin: 10px;
    padding: 10px 20px;
    font-size: .8rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(63, 63, 63, 0.103);
    word-wrap: break-word;
    overflow-wrap: break-word; 
    animation: bloodline 1.3s ease forwards;
    
} */

.hidden-bloodline-data {
    display: none;
}


@keyframes bloodline {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.test-arrow {
    position: absolute;
    bottom: 99%;
    left: 20px;
    width: 0;
    height: 0;
    display: flex;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #0084ff;
    z-index: 999;
  }
  
.test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    max-width: 60%;
    word-wrap: break-word;
    font-family: sans-serif;
    font-size: 16px;
    z-index: 999;
}





/* .test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.123);
    z-index: 999;
} */

.counter h6 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.counter p {
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 1px;
}

.counter-hidden {
    display: none;
}

/* INPUT LIMIT */

.name-limit {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 0;
    color: rgb(255, 50, 95);
    border-radius: 4px;
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.location-limit {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 0;
    color: rgb(255, 50, 95);
    border-radius: 4px;
    font-size: 0.9rem;
    margin-bottom: 2px;
}
  
  .name-limit::before {
    content: '';
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 50, 95) transparent;
  }

  .location-limit::before {
    content: '';
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 50, 95) transparent;
  }

  .lastname-limit {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 0;
    color: rgb(255, 50, 95);
    border-radius: 4px;
    font-size: 0.9rem;
    margin-bottom: 2px;
}
  
  .lastname-limit::before {
    content: '';
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 50, 95) transparent;
  }

  /* PAGINATION CONTROL */

  .pagination-controls {
    /* background-color: rgba(181, 73, 253, 0.123); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px
  }

  .pageBtn {
    background-color: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(167, 208, 226);
    padding: 10px 5px;
    transition: all .4s ease;
    
  }

  .pageBtn:hover {
    color: rgb(36, 124, 151);
  }

  .active-page-btn {
    color: rgb(54, 164, 179);
  }

  .prevBtn, .nextBtn, .firstBtn, .lastBtn {
    font-size: 1.6rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .prevBtn {
    margin-right: 10px;
    margin-left: 2px;
  }
  
  .nextBtn {
    margin-right: 2px;
    margin-left: 10px;
  }
  
  /* MAP MODAL */

  .map-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  #map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 100%;
    max-width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .marker {
    border: 1px solid rgb(7, 7, 7);
    position: relative;
    bottom: 45px;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(24, 152, 156);
    color: white;
  }

  .most-names {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #95B1AE;
    margin-top: -110px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    animation: mostNames 1.8s ease forwards;
  }

.most-names p {
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 20px 20px;
    margin: 0 auto;
}




  @keyframes mostNames {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .hide-most-names {
    display: none;
  }



  /* ADDED USER ALERT */

  /* Hide the custom alert prompt by default */
#custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Center the alert container vertically and horizontally */
  .alert-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00C1AC;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.212);
  }
  
  .alert-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .alert-message {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    font-family: "Poppins";
    letter-spacing: 0.8px;
  }
  
  .alert-close-button {
    background-color: #296ce9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s ease;
  }
  
  .alert-close-button:hover {
    background-color: #6ba9fa;
    color: black;
  }

  /* Show the custom alert prompt when it's triggered */
  #custom-alert.show {
    display: block;
  }
  
  /* Hide the custom alert prompt when it's closed */
  #custom-alert.hidden-alert {
    display: none;
  }
  

  /* MEDIA QUERY */
  
  @media (min-width: 400px) {
    
    .add-user-form {
        max-width: 400px;
    }
}


  @media (min-width: 768px) {
    
    .add-user-form {
        max-width: 400px;
    }
      .bloodline-data {
        width: 100%;
        max-width: 700px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 100px;
    }

    #map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 500px;
        height: 50%;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }

      table th {
        font-size: 1.2rem;
    }
    
    table td {
        font-size: 1.1rem;
    }

    .most-names {
        width: 100%;
        max-width: 600px;
        margin-top: -120px;
        margin-left: auto;
        margin-right: auto;
    }

    .most-names p {
        padding: 20px 50px;
    }

    #flag-counter {
        margin-top: 150px;
    }
      
  }

  /* Landscape */
@media (max-width: 844px) and (orientation: landscape) {
    .main-data {
        top: 100px;
        height: 140vh;
    }

    .bloodline-data {
        top: 120px;
        margin-bottom: 150px;
    }

    .counter {
        top: 140px;
    }

    .most-names {
        top: 150px;
    }

    #flag-counter {
        margin-top: 100px;
    }
  }